django<2
django-compressor
django-extensions
django-grappelli
django-libsass
django-model-utils
django-redis
psycopg2-binary
redis
elasticsearch>=5.0.0,<6.0.0
mailchimp<2.1
weasyprint<1

django-kdl-ldap
wagtail<2
pyldap<3
