django
django-compressor
django-extensions
django-grappelli
django-libsass
django-model-utils
django-redis
psycopg2-binary
redis
elasticsearch>=5.0.0,<6.0.0
mailchimp<3
weasyprint

django-kdl-ldap
wagtail
pyldap

#
urllib3<1.25

