{% load staticfiles compress kdl_culturecase wagtailroutablepage_tags %}
<div class="header-wrapper" role="navigation" aria-label="main menu">
  <header id="header" aria-label="logo">
    <div class="avada-row" style="margin-top: 0; margin-bottom: 0;">
      <div class="logo">
        <h1>
          <a href="/">CultureCase </a>
        </h1>
        {% comment %}
        <ul>
          <li>
            <a href="/" class="{% if not in_data_portal %}active{% endif %}">RESEARCH</a>
          </li> 
          <li>
            <a href="/data/" class="{% if in_data_portal %}active{% endif %}">DATA PORTAL</a>
          </li>
        </ul>
        {% endcomment %}
      </div>
      <nav id="nav" class="nav-holder" aria-label="menu">
        {% block menu %}
          {% kdl_menu_top menu_slug='primary' active_page_slug=active_page_slug %}
        {% endblock %}
      </nav>
    </div>
  </header>
  <div class="subnav" role="navigation" aria-label="article categories">
    {% if in_data_portal %}
      {% kdl_menu_sub menu_slug='data' active_page_slug=active_page_slug %}
    {% else %}
      {% kdl_menu_sub menu_slug='research' active_page_slug=active_page_slug %}
    {% endif %}
  </div>
</div>
<header id="sticky-header" class="sticky-header" aria-label="logo">
  <div class="sticky-shadow">
    <div class="avada-row">
      <div class="logo">
        <h1>
          <a href="/">CultureCase </a>
        </h1>
        <ul>
          <li>
            <a href="/" class="{% if not in_data_portal %}active{% endif %}">RESEARCH</a>
          </li> 
          <li>
            <a href="/data/" class="{% if in_data_portal %}active{% endif %}">DATA PORTAL</a>
          </li>
        </ul>
      </div>
      <nav id="sticky-nav" class="nav-holder" aria-label="menu">
        {% block menu_sticky %}
          {% kdl_menu_top menu_slug='primary' active_page_slug=active_page_slug %}
        {% endblock %}
      </nav>
    </div>
  </div>
</header>
            
