{% load staticfiles compress kdl_culturecase wagtailroutablepage_tags %}
<div class="header-wrapper">
	<header id="header">
		<div class="avada-row" style="margin-top: 0; margin-bottom: 0;">
			<div class="logo">
				<h1>
					<a href="/">CultureCase </a>
				</h1>
				{% if DATA_PORTAL_ENABLED %}
				<ul>
					<li>
						<a href="/" class="{% if not in_data_portal %}active{% endif %}">RESEARCH</a>
					</li> 
					<li>
						<a href="/data/" class="{% if in_data_portal %}active{% endif %}">DATA PORTAL</a>
					</li>
				</ul>
				{% endif %}            
			</div>
			<nav id="nav" class="nav-holder">
				{% block menu %}
				{% kdl_menu_top menu_slug='primary,Research:research,Data:data' active_page_slug=active_page_slug %}
				{% endblock %}
			</nav>
		</div>
	</header>
	<div class="subnav">
		{% if in_data_portal %}
		{% kdl_menu_sub menu_slug='data' active_page_slug=active_page_slug %}
		{% else %}
		{% kdl_menu_sub menu_slug='research' active_page_slug=active_page_slug %}
		{% endif %}
	</div>
</div>
<header id="header" class="sticky-header">
	<div class="sticky-shadow">
		<div class="avada-row">
			<div class="logo">
			<h1>
				<a href="/">CultureCase </a>
			</h1>
			{% if DATA_PORTAL_ENABLED %}
			  <ul>
			  	<li>
			  		<a href="/" class="{% if not in_data_portal %}active{% endif %}">RESEARCH</a>
			  	</li> 
			  	<li>
			  		<a href="/data/" class="{% if in_data_portal %}active{% endif %}">DATA PORTAL</a>
			  	</li>
			  </ul>
			{% endif %}
			</div>
			<nav id="nav" class="nav-holder">
				{% block menu_sticky %}
				{% kdl_menu_top menu_slug='primary' active_page_slug=active_page_slug %}
				{% endblock %}
			</nav>
		</div>
	</div>
</header>





