{% load staticfiles compress kdl_culturecase wagtailroutablepage_tags %}
<div class="header-wrapper" role="navigation" aria-label="main menu">
  <header id="header" aria-label="primary">
    <div class="avada-row" style="margin-top: 0; margin-bottom: 0;">
      <div class="logo">
        <h1>
          <a href="/">CultureCase </a>
        </h1>
      </div>
      <nav id="nav" class="nav-holder" aria-label="menu">
        {% block menu %}
          {% kdl_menu_top menu_slug='primary' active_page_slug=active_page_slug %}
        {% endblock %}
      </nav>
    </div>
  </header>
  <div class="subnav" role="navigation" aria-label="article categories">
    {% if in_data_portal %}
      {% kdl_menu_sub menu_slug='data' active_page_slug=active_page_slug %}
    {% else %}
      {% kdl_menu_sub menu_slug='research' active_page_slug=active_page_slug %}
    {% endif %}
  </div>
</div>
