{% load wagtailcore_tags kdl_culturecase %}
<div id="sidebar" style="float: right;">
    <div id="dpe_fp_widget-2" class="widget widget_dpe_fp_widget">
      <div class="heading">
        <h3>Latest additions</h3>
      </div>
      <ul class="dpe-flexible-posts">
        {% get_latest_research_articles as latest_articles %}
        {% for article in latest_articles %}
            <li
              class="research type-research status-publish hentry "
            
            >
              <a href="{% pageurl article %}">
                <h4 class="title">
                  {{ article.title }}
                </h4>
              </a>
            </li>
        {% endfor %}
      </ul>
      <!-- .dpe-flexible-posts -->
    </div>
</div>
