{% extends "culturecase_wagtail/rich_page.html" %}

{% load wagtailcore_tags  staticfiles compress %}

{% block body_class %}page page-id-2 page-template-bibliography-php {{ block.super }}{% endblock %}

{% block content_class %}faqs{% endblock %}

{% block below_post_content %}

    {% for category in categories %}
        <h2>
          <a href="{{ category.url }}">
            {{ category.title }}
          </a>
        </h2>

        <div class="portfolio-wrapper" style="display: block;">
          <div class="accordian">

            {% for subcat in category.get_children %}
              {% if subcat.show_in_menus %}
                <h5>
                  <button id="accordion-header-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" aria-expanded="false" aria-controls="accordion-panel-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                    {{ subcat.title }}
                  </button>
                </h5>
                <section class="post-content" hidden id="accordion-panel-{{ forloop.parentloop.counter }}-{{ forloop.counter }}" aria-labelledby="accordion-header-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
                  <ul>
                    {% for summary in subcat.specific.get_summaries %}
                      <li>
                        <a href="{{ summary.url }}">{{ summary.title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </section>
              {% endif %}
            {% endfor %}

          </div>
        </div>
    {% endfor %} 

{% endblock %}
