{% extends "culturecase_wagtail/rich_page.html" %}

{% load wagtailcore_tags  staticfiles compress %}

{% block body_class %}page page-id-2 page-template-bibliography-php {{ block.super }}{% endblock %}

{% block content_class %}faqs{% endblock %}

{% block post_content %}
{% endblock %}

{% block below_post_content %}

        <div class="portfolio-wrapper" style="display: block;">
          <div class="accordian" role="presentation">

            {% for question in page.get_questions %}
              <h5>
                <button id="accordion-header-{{ forloop.counter }}" aria-expanded="false" aria-controls="accordion-panel-{{ forloop.counter }}">
                  {{ question.title }}
                </button>
              </h5>
              <section class="post-content" hidden id="accordion-panel-{{ forloop.counter }}" aria-labelledby="accordion-header-{{ forloop.counter }}">
                  {{ question.body|richtext }}
              </section>
            {% endfor %}

          </div>
        </div>

{% endblock %}
