{% extends "culturecase_wagtail/rich_page.html" %}

{% load wagtailcore_tags  staticfiles compress %}

{% block post_body %}

    <form action="" method="post" class="django-form-ul mc4wp-form-theme mc4wp-form-theme-dark">
        {% csrf_token %}

        <ul>
            {{ newsletter_form.as_ul }}
        </ul>
        
        <p>
            <label for="id_agree">
              By providing my details I am consenting to King’s College London 
              sending me information about King’s &amp; 
              Culture, such as news, bulletins and events. 
              <a target="_blank" href="https://www.kcl.ac.uk/terms/privacy.aspx">
                King’s College London’s privacy policy applies.
              </a>
            </label>
        </p>
      
        <p>
            <input type="submit" value="Sign up" />
        </p>
    </form>

{% endblock %}
