{% load wagtailcore_tags  staticfiles compress kdl_culturecase %}

{% if result_page.paginator.num_pages > 1 %}
<div class="pagination clearfix">
  {% if result_page.has_previous %}
    <a class="pagination-prev" href="{% update_qs 'p' result_page.previous_page_number %}">
        Previous<span class="page-prev"></span>
    </a>
  {% endif %}
  
  {% for page_index in result_page.paginator.page_range %}
    {% if page_index == result_page.number %}
      <span class="current">
        {{ page_index }}
      </span>
    {% else %}
      <a href="{% update_qs 'p' page_index %}" class="inactive">{{ page_index }}</a>
    {% endif %}
  {% endfor %}
  
  {% if result_page.has_next %}
    <a class="pagination-next" href="{% update_qs 'p' result_page.next_page_number %}">
        Next<span class="page-next"></span>
    </a>
  {% endif %}
</div>
{% endif %}