{% extends "base.html" %}

{% load wagtailcore_tags  staticfiles compress %}

{% block body_class %}single single-research postid-1421 {{block.super}}{% endblock %}

{% block title %}
    {{ page.title }}
{% endblock %}

{% block post_class %}post post-2 research type-research status-publish hentry{% endblock %}

{% block breadcrumb %}
  <div role="navigation" class="single-navigation clearfix" aria-label="breadcrumb">
    <a href="/">Home</a> 
    {% for category in page.get_breadcrumb %}
        <span aria-hidden="true">&gt;</span>
        <a href="{{ category.url }}">
          {% if forloop.last %}
            {{ category.title }}
          {% else %}
            {{ category.get_shortest_title }}
          {% endif %}
        </a>
    {% endfor %}
  </div>
{% endblock %}

{% block print_button %}
  <p class="print-pdf"><a href="{{ page.url }}?format=pdf">Print article</a></p>
{% endblock %}

{% block post_body %}

  {{ page.body|richtext }}

  {% include "culturecase_wagtail/fragments/research_summary_keywords_and_meta.html" %}

                        
{% endblock %}

{% block below_post_content %}

  {% include "culturecase_wagtail/fragments/research_summary_categories.html" %}
  
  {% include "culturecase_wagtail/fragments/share_box.html" %}
  
{% endblock %}
