<ul id="nav" class="menu">
  <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-31"><a href="/impacts/">Impacts</a>
    <ul class="sub-menu">
      <li id="menu-item-153" class="menu-item menu-item-type-taxonomy menu-item-object-research-category menu-item-153"><a
        href="/research-category/intrinsic-impacts/"
      >Intrinsic</a></li>
      <li id="menu-item-83" class="menu-item menu-item-type-taxonomy menu-item-object-research-category menu-item-83"><a
        href="/research-category/education/"
      >Educational</a></li>
      <li id="menu-item-140" class="menu-item menu-item-type-taxonomy menu-item-object-research-category menu-item-140"><a
        href="/research-category/economic/"
      >Economic</a></li>
      <li id="menu-item-141" class="menu-item menu-item-type-taxonomy menu-item-object-research-category menu-item-141"><a
        href="/research-category/neighbourhood/"
      >Neighbourhood</a></li>
      <li id="menu-item-152" class="menu-item menu-item-type-taxonomy menu-item-object-research-category menu-item-152"><a
        href="/research-category/health-wellbeing/"
      >Health and wellbeing</a></li>
      <li id="menu-item-816" class="menu-item menu-item-type-taxonomy menu-item-object-research-category menu-item-816"><a
        href="/research-category/creativity-impacts/"
      >Creativity</a></li>
      <li id="menu-item-142" class="menu-item menu-item-type-taxonomy menu-item-object-research-category menu-item-142"><a
        href="/research-category/other-social-impacts/"
      >Other social impacts</a></li>
    </ul></li>
  <li id="menu-item-30" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-30"><a href="/insights/">Insights</a>
    <ul class="sub-menu">
      <li id="menu-item-154" class="menu-item menu-item-type-taxonomy menu-item-object-research-category menu-item-154"><a
        href="/research-category/consumer-behaviour/"
      >Consumer behaviour</a></li>
      <li id="menu-item-145" class="menu-item menu-item-type-taxonomy menu-item-object-research-category menu-item-145"><a
        href="/research-category/fundraising/"
      >Fundraising</a></li>
      <li id="menu-item-85" class="menu-item menu-item-type-taxonomy menu-item-object-research-category menu-item-85"><a
        href="/research-category/audiences/"
      >Developing new audiences</a></li>
      <li id="menu-item-155" class="menu-item menu-item-type-taxonomy menu-item-object-research-category menu-item-155"><a
        href="/research-category/live-and-digital/"
      >Live and digital engagement</a></li>
      <li id="menu-item-156" class="menu-item menu-item-type-taxonomy menu-item-object-research-category menu-item-156"><a
        href="/research-category/community-engagement/"
      >Models of community engagement</a></li>
      <li id="menu-item-157" class="menu-item menu-item-type-taxonomy menu-item-object-research-category menu-item-157"><a
        href="/research-category/organisational-change/"
      >Organisational change</a></li>
    </ul></li>
  <li id="menu-item-615" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-615"><a href="/contents/">Contents</a></li>
  <li id="menu-item-28" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="/how-to-use/">How to use</a></li>
  <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="/faqs/">FAQs</a></li>
  <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a href="/about/">About us</a></li>
  <li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="/links/">Other resources</a></li>
</ul>
