{% extends "base.html" %}

{% block head_title %}
Page not found (404)
{% endblock %}

{% block title %}
    Error 404 - Page not found
{% endblock %}

{% block post_body %}
    <p>The web page you have requested doesn't exist. This might be because:</p>
    <ul>
      <li>You have typed the web address incorrectly, or</li>
      <li>the page you were looking for may have been moved, updated or deleted.</li>
    </ul>
    <p>Please try the following options instead:</p>
    <ul>
      <li>Use the search above to see if it's available elsewhere</li>
      <li>Try one of the links at the top of the page</li>
    <ul>
{% endblock %}

{% block sidebar %}

{% endblock %}
